{% extends "daily/paginated.html" %}
{% block title %}
    Comments
{% endblock %}

{% block entry_title %} Comment {% endblock %}

{% block entry_form %} {{ new_comment_form }} {% endblock %}

{% block paginated_title %} Recent Comments {% endblock %}

{% block paginated_header %}
            <th>Date</th>
            <th>Time</th>
            <th>Comment</th>
{% endblock %}

{% block paginated_x %}
            <td>{{ x.date0 }}</td>
            <td>{{ x.time0 }}</td>
            <td>{{ x.description }}</td>
{% endblock %}
