{% extends "daily/layout.html" %}
{% block content %}
<h2>New {% block entry_title %}{% endblock %}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <table class="entry_form">
            {% block entry_form %}{% endblock %}
        </table>
        <input type="submit" value="Submit new">
    </form>

<h2>{% block paginated_title %}{% endblock %}</h2>
    <table class="paginated-list">
        <thead>
        <tr>
            {% block paginated_header %}{% endblock %}
        </tr>
        </thead>
        <tbody>
        {% for x in page_obj %}
        <tr>
            {% block paginated_x %}{% endblock %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}