{% extends "daily/layout.html" %}
{% block title %}
    Schedule history
{% endblock %}
{% block content %}
    <h2>Schedule History</h2>

    {% if schedule_list %}
        <dl class="sched_list">
            {% for sched in schedule_list %}
                <dt>
                    <a href="{% url 'slots' pk=sched.id %}"> {{ sched.date0|date:"Y-m-d" }} </a>
                </dt>
                <dd> {{ sched.reason }} </dd>
            {% endfor %}
        </dl>
    {% else %}
        <p>No schedules exist.</p>
    {% endif %}
{% endblock %}