{% extends "nx/layout.html" %}
{% block title %}
Nx {{ date1 }}
{% endblock %}
{% block content %}

<h2> {{ date1 }} </h2>
{% for nav in navs %}
    <a href="{{ nav.url }}" class="day-link"> {{ nav.text }} </a>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <table class="obs-entry">
        {{ new_obs_form }}
    </table>
    <input type="submit" value="Submit">
</form>

<h2> Medication List </h2>

{% if sched.dose_set.count %}
<table class="meds-list">
    <thead>
    <tr>
        <th>Slot</th>
        <th>Tablets</th>
    </tr>
    </thead>
    <tbody>
    {% for sd in sched.doses_by_slot %}
        <tr bgcolor="{{ sd.slot.colour }}">
            <th>{{ sd.slot.text }}</th>
            <td>
                <ul>
                {% for t in sd.tablets %}
                    <li>{{ t.tablet_info }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No doses scheduled for {{ date }}.</p>
{% endif %}


{% endblock %}