{% extends "nx/layout.html" %}
{% block title %}
Nx Meds
{% endblock %}
{% block content %}

<h2> Medication List </h2>
<h4> {{ date1 }} </h4>

{% if sched_note %}
    <p class="info">Just changed: {{ sched_note }}</p>
{% endif %}

{% if sched.dose_set.count %}
<table class="meds-list">
    <thead>
    <tr>
        <th>Slot</th>
        <th>Tablets</th>
    </tr>
    </thead>
    <tbody>
    {% for sd in sched.doses_by_slot %}
        <tr bgcolor="{{ sd.slot.colour }}">
        <th style="text-align:center">
		{{ sd.slot.time_str }}
		<br>
		<img href="/static/nx/{{ sd.slot.icon }}" alt="{{ sd.slot.name }}" width="64" height="64"/>
		<br>
		(x{{ sd.num_items }})</th>
            <td style="text-align:left">
                {% for t in sd.tablets %}
                    {{ t.tablet_info }}
                    {% if t.is_reused %} <b> + </b> {% endif %}
                    <br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No doses scheduled for {{ date }}.</p>
{% endif %}

{% endblock %}
