{% extends "nx/layout.html" %}
{% block title %}
Nx Meds
{% endblock %}
{% block content %}

<h2> Medication List </h2>
{% for nav in navs %}
    <a href="{{ nav.url }}" class="day-link"> {{ nav.text }} </a> &nbsp;
{% endfor %}

{% for change in changes %}
    <dt>{{ change.day }}</dt>
    <dd>{{ change.reason }}</dd>
{% endfor %}

{% if slots %}
<table class="meds-list">
    <thead>
    <tr>
        <th>Slot</th>
        <th colspan=2>Tablets</th>
    </tr>
    </thead>
    <tbody>
    {% for s in slots %}
        <tr bgcolor="{{ s.slot.colour }}">
        <th style="text-align:center">
		{{ s.slot.time_str }}
		<br>
		<img src="/static/nx/{{ s.slot.icon }}" alt="{{ s.slot.name }}" width="64" height="64"/>
		<br>
		(x{{ s.num_items_min_max }})</th>
            <td style="text-align:left">
		    <ul>
		    {% for d in s.doses %}
		    <li> {{ d.info }} {{ d.week_pattern }}
			{% if d.is_reused %} <b> + </b> {% endif %}
		    </li>
		    {% endfor %}
		    </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No doses scheduled for week beginning {{ date1 }}.</p>
{% endif %}

{% endblock %}
