{% extends "nx/paginated.html" %}
{% block title %} Schedules {% endblock %}

{% block entry_title %} Schedule {% endblock %}

{% block entry_form %} {{ new_schedule_form }} {% endblock %}

{% block paginated_title %} Medication Hstory {% endblock %}

{% block paginated_header %}
            <th>Date</th>
            <th>Reason for change</th>
{% endblock %}

{% block paginated_x %}
            <td><a href="{{ x.edit_url }}">{{ x.date0 }}</a></td>
            <td>{{ x.reason }}</td>
{% endblock %}
